<!DOCTYPE html>
<html>
<head>
  <title>SafeThai</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDvq6vT-f1MUgbaM3JvD4isTNu45NUuU3M" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
